

#include "defines.h"


#ifndef WORKSHOP_INVOKED
#include <windows.h>
#include <winver.h>
#endif


#include "dialogs.rc"
#include "strings.rc"
#include "version.rc"
#include "fonts.rc"
#include "icons.rc"
