

#include "resource.h"


#ifndef WORKSHOP_INVOKED
#ifdef WIN32
#include <windows.h>
#include <winver.h>
#else
#include <windows.h>
#endif
#endif


#include "strings.rc"

IDI_TEST    ICON    test.ico


IDD_MAIN DIALOG 0, 0, 256, 256
STYLE DS_LOCALEDIT | WS_OVERLAPPED | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME | WS_MINIMIZEBOX /* | WS_CLIPCHILDREN */
CAPTION "Test"
// FONT 8, "MS Sans Serif"
{
//CONTROL "Out&put:",       IDST_OUTPUT,      "STATIC",            SS_BLACKFRAME | WS_CHILD | WS_VISIBLE,                  3, 160, 180, 80
//CONTROL "Single &line",   IDB_ONELINE,      "BUTTON",            BS_AUTOCHECKBOX  | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 80,  20,  46, 12
//CONTROL "",               IDST_DESCRIPTION, "STATIC",            WS_CHILD | WS_VISIBLE | WS_TABSTOP,                    80,  40,  80, 12
//CONTROL "E&xit",          IDCANCEL,         "BUTTON",            BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10,  70,  50, 14
//LTEXT   "static control", IDST_TEST,                                                                                    10,  90, 240, 100

//CONTROL "st test",        IDST_TEST,        "Static",            WS_CLIPSIBLINGS | WS_BORDER | SS_LEFT,                 10,  90, 240, 100

//CONTROL "",               IDLB_TEST,        "LISTBOX",           LBS_STANDARD | /* LBS_HASSTRINGS | */ WS_CHILD | WS_VISIBLE | WS_TABSTOP, 0, 0, 100, 100
//CONTROL IDI_TEST,         IDST_ICON,        "STATIC",            SS_ICON | WS_CHILD | WS_VISIBLE,                       40,  15,  18,  20

ICON      IDI_TEST,         IDST_ICON,        20, 20, 0, 0,        SS_ICON | WS_CHILD | WS_VISIBLE

//CONTROL "",               IDE_TEST,         "EDIT",              ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_WANTRETURN | WS_CHILD | WS_BORDER | WS_VSCROLL | WS_HSCROLL | WS_VISIBLE | WS_TABSTOP, 2, 2, 150, 60

//CONTROL "",               IDPB_TEST,        "msctls_progress32", WS_CHILD | WS_VISIBLE,                                  10, 10, 200, 10
//CONTROL "E&xit",          IDCANCEL,         "BUTTON",            BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP,    10,  50,  50, 14

//CONTROL "",               IDST_TEST,        "Static",            SS_BLACKRECT, 1, 1, 5, 5
//CONTROL "&Test",          IDB_TEST,         "BUTTON",            BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 20,  60,  50, 14
//CONTROL  "Send To:",       IDST_TEST,         "BUTTON",            BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 20,  20, 50, 36

}


#if 0
IDD_MAIN_TEXT DIALOG 0, 0, 80, 22
STYLE DS_LOCALEDIT | WS_VISIBLE | WS_OVERLAPPED | WS_CAPTION | WS_SYSMENU | /* WS_THICKFRAME | */ WS_MINIMIZEBOX
CAPTION "Test"
{
   CONTROL "", IDE_TEST, "EDIT", ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_WANTRETURN | WS_CHILD | /* WS_BORDER | */ WS_VSCROLL | WS_HSCROLL | WS_VISIBLE | WS_TABSTOP, 2, 2, 15, 5
// CONTROL "E&xit", IDCANCEL, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 2, 15, 10, 3
// CONTROL "&Draw", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 25, 5, 4
// CONTROL "static control", IDST_TEST, "STATIC", SS_SIMPLE | WS_CHILD | WS_VISIBLE, 36, 25, 15, 8
}
#endif


IDD_MAIN_TEXT DIALOG 0, 0, 40, 20
STYLE DS_LOCALEDIT | WS_VISIBLE | WS_OVERLAPPED | WS_CAPTION | WS_SYSMENU | /* WS_THICKFRAME | */ WS_MINIMIZEBOX
CAPTION "Test"
{
// CONTROL "",      IDLB_TEST, "LISTBOX", LBS_STANDARD | /* LBS_HASSTRINGS | */ WS_CHILD | WS_VISIBLE | WS_TABSTOP, 2, 2, 15, 5
   CONTROL "",      IDE_TEST,  "EDIT",    ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_WANTRETURN | WS_CHILD | /* WS_BORDER | */ WS_VSCROLL | WS_HSCROLL | WS_VISIBLE | WS_TABSTOP, 2, 2, 15, 5
// CONTROL "E&xit", IDCANCEL,  "BUTTON",  BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 8, 11, 8
}

