

1                   VERSIONINFO
FILEVERSION         1, 3,   1,  1
PRODUCTVERSION      1, 3,   1,  1
FILEFLAGSMASK       VS_FF_DEBUG | VS_FF_PRERELEASE | VS_FF_PRIVATEBUILD | VS_FF_INFOINFERRED | VS_FF_SPECIALBUILD
FILEFLAGS           (VS_FF_DEBUG | VS_FF_PRERELEASE)
#ifdef _WIN32
FILEOS              VOS__WINDOWS32
#else
FILEOS              VOS__WINDOWS16
#endif
FILETYPE            VFT_APP
FILESUBTYPE         VFT2_UNKNOWN
BEGIN
    BLOCK "VarFileInfo"
    BEGIN
        VALUE   "Translation", 0x0409, 1252
    END
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName", "Sprysoftware\0"
            VALUE "FileDescription", "robble robble\0"
            VALUE "FileVersion", "1.0\0"
            VALUE "InternalName", "fontnab\0"
            VALUE "LegalCopyright", "Copyright © 2011 Jean-Claude Gervais. All rights reserved.\0"
            VALUE "OriginalFilename", "fontnab.exe\0"
            VALUE "ProductName", "font nabber\0"
            VALUE "ProductVersion", "1.0\0"
        END
    END
END
