

IDD_MAIN DIALOG 0, 0, 156, 172
STYLE DS_CENTER | DS_SETFONT | WS_OVERLAPPED | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME | WS_MINIMIZEBOX | WS_MAXIMIZEBOX
CLASS IDSZ_DBWIN_WINDOW_CLASS
CAPTION IDSZ_APP_CAPTION
//FONT 8, "Courrier New"
FONT 8, "Wingdings"
{
 EDITTEXT IDE_OUTPUT, 7, 6, 201, 46, ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_NOHIDESEL | ES_WANTRETURN | WS_BORDER | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP
}


IDD_ABOUT DIALOG DISCARDABLE  22, 18, 144, 75
STYLE WS_POPUP | WS_DLGFRAME
BEGIN
    CTEXT           "Debugging Log Application",IDST_ABOUT_APP_NAME,38,5,68,26
    CTEXT           "Version 1.00", IDST_ABOUT_APP_VERSION,2,35,140,8
    CTEXT           "Copyright \251 1992, Jean-Claude Gervais.", IDST_ABOUT_APP_COPYRIGHT,2,47,140,9
    ICON            IDI_MAIN, -1,8,5,16,16
    DEFPUSHBUTTON   "OK",IDOK,53,59,32,14,WS_GROUP | WS_TABSTOP
END


IDD_SETTINGS DIALOG 22, 18, 144, 58
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "DBWin - Settings"
{
 DEFPUSHBUTTON "Close", IDCANCEL, 53, 36, 32, 14, BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "&Font...", IDB_CHOOSE_FONT, 80, 9, 50, 14
 CHECKBOX "&Wordwrap", IDRB_WORDWRAP, 6, 9, 53, 12, BS_AUTOCHECKBOX | WS_TABSTOP
}

